@import url('https://fonts.googleapis.com/css?family=Yeon+Sung&display=swap');
header {
    text-align: center;
    border: navy outset 6px;
    animation: colorChange 2s infinite;
    height: 150px;
    width: 1140px;
    font-family: 'Yeon Sung', cursive;
  }
@keyframes colorChange {
      from {background-color: rgb(9, 99, 48);}
      to {background-color: rgb(158, 205, 29);}
    }
html {
  background-image: linear-gradient(to left top, #000000, #212020, #3c3b3b, #595857, #777775);
  }
.instruction {
  font-family: 'Yeon Sung', cursive;
  border: navy outset 6px;
    background-color: steelblue;
    background-size: 100% 100%;
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 30px;
    padding-bottom: 200px;
    height: 200vh;
    width: 1084px;
  }
.instruction img {
  display: flex;
  justify-content: flex-start;
  align-self: auto;
}
.instruction .img2 {
  margin-left: 84vh;
  margin-top: -38vh;
  margin-bottom: 10vh;
}
.instruction .dead-fish{
  margin-left: 50vh;
  margin-top: -33vh;
}
input[type="submit"] {
    background: red;
    color: white;
  }
.button {
    font-size: 30px;
    color: navy;
  }
  .overlap{
    margin-top: -47vh;
  }
.board {
    display: flex;
    height: 540px;
    width: 1140px;
    position: relative;
    background-image: url(images/bluefloor.png);
    background-size: 100% 100%;
    border: navy ridge 6px;
}
.cat {
    height: 130px;
    width: 130px;
    position: absolute;
    background-image: url(images/cat-png-gif.gif);
    background-size: 100% 100%;
    transition: all 0.3s;
}
.left-cat {
  height: 130px;
  width: 130px;
  position: absolute;
  background-image: url(images/left-cat-png.gif);
  background-size: 100% 100%;
  transition: all 0.3s;
}
.dog {
    height: 150px;
    width: 150px;
    position: absolute;
    transition: all 1s;
    z-index: 3;
    background-image: url(images/dog.png.gif);
    background-size: 100% 100%;
}
.fish {
    height: 60px;
    width: 60px;
    position: absolute;
    background-image: url(images/fish.png);
    background-size: 100% 100%;
}
.wall {
    height: 100px;
    width: 100px;
    background-image: url(images/counter.jpeg);
    position: absolute;
    background-size: 110%;
    border: ridge rgb(96, 25, 25) 5px;
    z-index: 3;
}
.level-nav li {
    display: inline-block;
  }
.level-nav a {
    display: flex;
    text-transform: uppercase;
    letter-spacing: 6px;
    padding: 1rem;
  }
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    z-index: 4;
    text-align: center;
  }
.modal-lose {
    background-color: rgb(67, 19, 19);
    background-image: url(images/lostGame.png);
    background-size: 100% 100%;
    margin: 16% auto; 
    border: 10px outset #C34A36;
    padding: 20px;
    width: 80%; 
    font-family: 'Yeon Sung', cursive;
    font-size: 40px;
    color: white;
    height: 80vh;
  }
.modal-lose p{
  display: flex;
  text-shadow: 5px 2px black;
}
.modal-lose a{
  display: flex;
  text-shadow: 5px 2px black;
  color: white;
}
.modal-win {
    background-color: rgb(67, 19, 19);
    background-image: url(images/happyCat.png);
    background-size: 100% 100%;
    margin: 15% auto; 
    padding: 20px;
    border: 10px outset #C34A36;
    width: 80%; 
    height: 80vh;
    font-family: 'Bangers', cursive;
    font-size: 40px;
    color: white
  }
  .modal-win p{
    display: flex;
    text-shadow: 5px 2px black;
  }
  .modal-win a{
    text-shadow: 5px 2px black;
    display: flex;
    color: white;
  }